*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background: gray;
    padding: 0 100px;
}
 
nav ul{
    display: flex;
    gap: 20px;
}
 
nav .fa-bars{
 
    display: none;
}
 
nav ul .fa-xmark{
    display: none;
}
 
 
html{
    overflow-x: hidden;
}
 
 
 
@media (max-width:768px) {
   
    nav ul{
        display: grid;
        justify-items: start;
        align-content: start;
        background: darkslategrey;
        position: absolute;
        right: -200px;
        top: 0;
        height: 100vh;
        width: 200px;
        color: aliceblue;
        gap: 20px;
        /* padding: 20px; */
        font-size: 30px;
        transition: 1s;
       
    }
 
    nav ul .fa-xmark{
        display: initial;
        cursor: pointer;
    }
 
    nav ul .fa-xmark:hover{
        color: gray;
    }
   
 
    nav .fa-bars{
        display: initial;
        font-size: 30px;
        cursor: pointer;
   
    }
 
    nav .fa-bars:hover{
        color: blueviolet;
    }
 
}
 